@import './normalize.css';

body {
  background-color: rgba(0,0,0,0.95);
}

h1 {
  margin: 5px;
  text-align: center;
  color: #ffffff;
}

main {
  padding: 20px;
}

button {
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.8);
}

h2, h3, h4 {
  color: #ffffff;
}

h4 {
  margin: 0;
}

table {
  margin-bottom: 20px;
  border-collapse: collapse;
  color: #fff;
}

thead tr {
  background-color: #004dae;
}

th {
  min-width: 35px;
  height: 25px;
  padding: 5px 20px;
  border: 1px solid #fff;
}

.display--none {
  display: none;
}

.setting-block {
  width: 400px;
}

.switch-buttons, .create-car__button, .update-car__button, .race-button-block__button, .car-select, .car-remove {
  height: 20px;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
}

.create-car__button, .update-car__button {
  background-color: #004dae;
}

.switch-buttons {
  width: 150px;
  margin-right: 5px;
  background-color: #00ae07;
}

.switch-buttons-block {
  margin-bottom: 5px;
}

.create-car-block, .update-car-block {
  display: flex;
  margin-bottom: 5px;
}

.create-car__button, .update-car__button {
  width: 100px;
}

.car-name-input, .car-color-input {
  height: 20px;
  box-sizing: border-box;
}

.car-color-input {
  margin: 0 5px;
} 

.race-button-block__button, .car-select, .car-remove {
  margin-right: 6px;
  background-color: #004dae;
}

.race-button-block__button:nth-child(1), .race-button-block__button:nth-child(2) { 
  width: 96px;
}

.race-button-block__button:nth-child(3) { 
  width: 158px;
}

.cars-section {
  margin-bottom: 20px;
}

.cars-block__info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cars-block {
  margin: 10px 0px;
}

.car-controls__start, .car-controls__back {
  height: 25px;
  width: 25px;
  color:#ffffff;
  background: transparent;
}

.car-controls__start {
  color: #00ae07;
  border: 1px solid #00ae07;
}

.car-controls__back {
  color: red;
  border: 1px solid red;
}

.car-controls__back:disabled, .car-controls__start:disabled {
  color: gray;
  border: 1px solid gray;
}

.car-controls {
  margin-bottom: 15px;
}

.road {
  border-bottom: 5px dotted #ffffff;
}

.car {
  height: 20px;
  filter: contrast(0.5);
}

.pagination-button {
  height: 25px;
  padding: 0 15px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #004dae;
}

.pagination-button:disabled {
  background-color: gray;
}

.winners-table__car svg {
  height: 15px;
}

.new-winner {
  position: absolute;
  top: 110px;
  left: 200px;
}

.new-winner__text {
  font-size: 28px;
  color:#fff;
}