<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Christmas</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="header">
            </div>
        </div>

    </header>
    <main>
        <div class="wrapper">
<!--             <h1>New Years game "Dress up the Christmas tree"</h1>

            <button class="start-game-button">
                Start
            </button> -->

            <div class="main">

                <aside class="tree-settings">
                    <div class="header-block">
                        <div class="header-block__toys">Toys</div>
                        <div class=" header-block__tree header-block--active">Tree</div>
                    </div>

                    <div class="tree-settings__block">
                        <button class="settings__sound"></button>
                        <button class="snow"></button>
                        <div class="favorite-cards-count"></div>
                    </div>

                    <div class="trees-types">
                        <p class="trees-types__title">Select the tree</p>
                        <div class="trees-types__block">
                            <div class="trees-types-item trees-types-item--active"></div>
                            <div class="trees-types-item"></div>
                            <div class="trees-types-item"></div>
                            <div class="trees-types-item"></div>
                            <div class="trees-types-item"></div>
                            <div class="trees-types-item"></div>
                        </div>
                    </div>

                    <div class="background-types">
                        <p class="background-types__title">Select background</p>
                        <div class="background-types__block">
                            <div class="background-types-item background-types--active"></div>
                            <div class="background-types-item"></div>
                            <div class="background-types-item"></div>
                            <div class="background-types-item"></div>
                            <div class="background-types-item"></div>
                            <div class="background-types-item"></div>
                            <div class="background-types-item"></div>
                            <div class="background-types-item"></div>
                            
                        </div>
                    </div>

                    <div class="garland">
                        <p class="garland__title">Garland</p>
                        <div class="garland__block">
                            <button class="garland__color"></button>
                            <button class="garland__color"></button>
                            <button class="garland__color"></button>
                            <button class="garland__color"></button>
                            <button class="garland__color"></button>
                        </div>

                        <label class="garland-checkbox">
                            <input id="garland--active" type="checkbox" class="garland__input">
                            <div class="garland__item"></div>
                        </label>
                    </div>

                </aside>

                <section class="tree-block">
                    <div class="main-tree__block">
                        <img class="main-tree__img" src="https://raw.githubusercontent.com/SergeiOsmolovskii/stage1-tasks/christmas-task/assets/tree/1.png" alt="tree">
                    </div>
                </section>

                <aside class="selected-toys">
                    <p class="selected-toys__title">Toys</p>
                    <div class="selected-toys__block">
                        <div class="selected-toy">
                            <div class="selected-toy__count">2</div>
                            <img class="selected-toy__img" src="./assets/img/test1.png" alt="img-1" draggable="true">
                            <img class="selected-toy__img" src="./assets/img/test1.png" alt="img-1" draggable="true">
                        </div>

                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                        <div class="selected-toy"></div>
                    </div>
                </aside>

            </div>
        </div>

    </main>
    <footer>
        <div class="wrapper">
            <div class="footer">
                <a href="https://rs.school/">RSS</a>
                <p>© 2021</p>
                <a href="https://github.com/sergeiosmolovskii">SergeiOsmolovskii</a>
            </div>
        </div>
    </footer>    

<!--     <script type="module" src="./js/main.js"></script> -->
</body>
</html>