<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Category</title>
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="header">
                <div class="home">
                    <img src="../assets/icons/home.svg" alt="home">
                </div>
                <div class="logo">
                    <img src="../assets/img/logo.png" alt="logo">
                </div>
                <div class="settings">
                    <img src="../assets/icons/setting.svg" alt="settings">
                </div>
                <div class="settings-block hide-settings">
                    <div class="sound-block">
                        <p>Volume</p>
                        <button class="sound-button"></button>
                        <label>
                            <input class="sound-bar-progress progress" type="range" min="0" max="100" value="50">
                        </label>
                    </div>
                    <div class="time-block">
                        <p>Time game</p>
                        <img src="../assets/icons/stopwatch.svg" alt="stopwatch">
                        <label class="time-game">
                            <input type="checkbox">
                            <span></span>
                        </label>
                        <label class="progress-time-label">
                            <input class="progress-time" type="range" min="5" max="30" value="10" step="5">
                        </label>
                        <span class="selected-time">10</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>

        <div class="wrapper">
            <div class="main">
                <div class="category-items">
                    <div class="category-item">
                        <span>Category 1</span>
                        <div class="category-stat">
                            <div>
                                <span class="true-answers">0</span>
                                <span class="stat-separator"> / </span> 
                                <span class="all-questions">10</span>
                            </div>
                            <img src="../assets/icons/score.svg" alt="star">
                        </div>
                    </div>
                    <div class="category-item">
                        <span>Category 2</span>
                        <div class="category-stat">
                            <div>
                                <span class="true-answers">0</span> / <span class="all-questions">10</span>
                            </div>
                            <img src="../assets/icons/score.svg" alt="star">
                        </div>
                    </div>
                    <div class="category-item">
                        <span>Category 3</span>
                        <div class="category-stat">
                            <div>
                                <span class="true-answers">0</span> / <span class="all-questions">10</span>
                            </div>
                            <img src="../assets/icons/score.svg" alt="star">
                        </div>
                    </div>
                    <div class="category-item">
                        <span>Category 4</span>
                        <div class="category-stat">
                            <div>
                                <span class="true-answers">0</span> / <span class="all-questions">10</span>
                            </div>
                            <img src="../assets/icons/score.svg" alt="star">
                        </div>
                    </div>
                    <div class="category-item">
                        <span>Category 5</span>
                        <div class="category-stat">
                            <div>
                                <span class="true-answers">0</span> / <span class="all-questions">10</span>
                            </div>
                            <img src="../assets/icons/score.svg" alt="star">
                        </div>
                    </div>
                    <div class="category-item">
                        <span>Category 6</span>
                        <div class="category-stat">
                            <div>
                                <span class="true-answers">0</span> / <span class="all-questions">10</span>
                            </div>
                            <img src="../assets/icons/score.svg" alt="star">
                        </div>
                    </div>
                    <div class="category-item">
                        <span>Category 7</span>
                        <div class="category-stat">
                            <div>
                                <span class="true-answers">0</span> / <span class="all-questions">10</span>
                            </div>
                            <img src="../assets/icons/score.svg" alt="star">
                        </div>
                    </div>
                    <div class="category-item">
                        <span>Category 8</span>
                        <div class="category-stat">
                            <div>
                                <span class="true-answers">0</span> / <span class="all-questions">10</span>
                            </div>
                            <img src="../assets/icons/score.svg" alt="star">
                        </div>
                    </div>
                    <div class="category-item">
                        <span>Category 9</span>
                        <div class="category-stat">
                            <div>
                                <span class="true-answers">0</span> / <span class="all-questions">10</span>
                            </div>
                            <img src="../assets/icons/score.svg" alt="star">
                        </div>
                    </div>
                    <div class="category-item">
                        <span>Category 10</span>
                        <div class="category-stat">
                            <div>
                                <span class="true-answers">0</span> / <span class="all-questions">10</span>
                            </div>
                            <img src="../assets/icons/score.svg" alt="star">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
    <footer>
        <div class="wrapper">
            <div class="footer">
                <a href="https://rs.school/">RSS</a>
                <p>© 2021</p>
                <a href="https://github.com/sergeiosmolovskii">SergeiOsmolovskii</a>
            </div>
        </div>
    </footer>

    <script src="/js/main.js"></script>
</body>

</html>